body {
  background-color: #fdfdfd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 20px;
}

h1, h2, h3 {
  color: #005288;
}

p {
  margin-bottom: 15px;
}

a img {
  margin-top: 20px;
  border-radius: 10px;
}
